body{
    margin:0;
     font-family: sans-serif;
     background-color:#222;
     color:#000;

     background:linear-gradient(to bottom,#611232,#fff);
     //background-color: #eee;
}
h2{
    text-align: center;
    margin-top: 10px;
    margin:0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
form{
    background-color:transparent;
    padding: 20px 0;
    max-width: 1200px;
    margin:auto;
/*    box-shadow: 0px 0px 55px #9d2449;
*/
    margin-top: 50px;
    text-shadow: 0 0 0  #fff;
    border-radius: 8px;
}

/*padding:6px 20px;*/



.form_input{
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    margin-bottom: 3px;
    gap: 10px;
}
/*width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
*/
input,textarea, select{

    width:100%;
    box-sizing:border-box;
    padding:6px 12px;
   /* margin-bottom: 10px;*/
    border:none;
   /* border-left: 2px solid #f00;*/
    box-shadow:2px 3px 15px #9d2449;
    background-color: #fff;
    text-shadow: #eee;
    color:#000;
}
textarea{
    min-width: 100%;   
    resize:none;
    min-height: 20px;
    font-family: sans-serif;
}
.checkbox{
    width:auto;
    height:10px;
}
option{
    background-color:#fff;
}
fieldset{
    border-radius: 5px;
   border:1px solid #f04d69;
    padding:10px 10px 20px 20px;
    margin:20px;
}
legend{
    padding: 0 6px;
    background-color: #611232;
    color:#fff;
}
a{
    color:#69f;
    text-decoration: none;
}
.input_tabla{
     width:114.28px;
}

label{
    width:100%;
    background-color: #611232;
    padding: 6px 2px;
/*    text-align: right;      /* 👈 alineación */
   /* white-space: nowrap;
    border-left: 2px solid #f00;
    box-shadow:2px 3px 15px #fff;
    */
    color:#fff;
    
}

.auto-expand {
  width: 100%;
  min-height: 40px;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}
/*.form_input{
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}
*/



/*
td{
    width:120px;
}*/


