/*body{
    margin:0;
     font-family: sans-serif;
     background-color:#222;
     color:#fff;
     background:linear-gradient(to bottom,#f55,#500)
}
h2{
    text-align: center;
    margin-top: 10px;
    margin:0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight:
}
form{
    background-color:transparent;
    padding: 20px 0;
    max-width: 1200px;
    margin:auto;
    box-shadow: 0px 0px 55px #f04d69;
    margin-top: 50px;
    text-shadow: 0 0 0  #fff;
    border-radius: 8px;
}

/*padding:6px 20px;*/
/*
.form_input{
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}


input,textarea, select{

    width:400px;
    box-sizing:border-box;
    padding:6px 12px;
    margin-bottom: 10px;
    border:none;
    border-left: 2px solid #f00;
    box-shadow:2px 3px 15px #00f;
    background-color: transparent;
    text-shadow: #eee;
    color:#eee
}
textarea{
    min-width: 100%;   
    resize:none;
    min-height: 102px;
    font-family: sans-serif;
}
.checkbox{
    width:auto;
    height:10px;
}
option{
    background-color:#333;
}
fieldset{
    border-radius: 5px;
    border:1px solid #f04d69;
    padding:10px 10px 20px 20px;
    margin:20px;
}
legend{
    padding: 0 6px;
}
a{
    color:#69f;
    text-decoration: none;
}
.input_tabla{
     width:114.28px;
}
*/
/*
td{
    width:120px;
}*/

