/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    margin:0;
     font-family: sans-serif;
     background-color:#222;
     color:#000;

     /* background:linear-gradient(to bottom,#fff,#9d2449);*/
    /* background-color: #98989A;
     background-color: #BABABC;
    */
     background-color: #DCDCDE;

}


/* ENCABEZADOS */
h1 {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    color: #000;
}

h2, p, li {
    margin: 10px 0;
    color: #000;
    width: 100%;
    box-sizing: border-box;
}

/* FORMULARIO */
form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
}

/* FIELDSETS */
fieldset {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 1px solid #f04d69;
    border-radius: 5px;
    background-color: #eee;
    color: #000;
}

legend {
    padding: 0 6px;
    background-color: #611232;
    color: #fff;
    border-radius: 20px;
}

/* LABELS E INPUTS */
label {
    width: 100%;
    background-color: #611232;
    color: #fff;
    padding: 6px 2px;
    border-radius: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
}

/* GRID DE CAMPOS */
.form_input, .datos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* siempre dos columnas */
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .form_input, .datos {
        grid-template-columns:minmax(100px, 25%) minmax(1fr, 55%); /* una columna en móvil */
        gap:8px;
    }
    
}

/* IMÁGENES ENCABEZADO */
.imagenes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0px;
}

.imagenes img {
    width: 100%;
    height: 80px;
}

@media (max-width: 768px) {
    .imagenes img {
    width: 100%;
    height: 80px;
}
}

/* TABLA 
.tabla_style {
    width: 95%;
    margin: 60px auto 20px auto;
    border-collapse: collapse;
}
*/

.tabla_style {
    width: 100%;       /* ocupa todo el ancho disponible del formulario */
    margin: 0;         /* sin márgenes extras */
    border-collapse: collapse;
}

th {
    background-color: #9d2449;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
}

td {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 8px;
}

.input_tabla {
    width: 100%;
    border: none;
}

.input_tabla:focus {
    outline: none;
}

/* BOTONES */
button {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 20px auto;
    border-radius: 35px;
}

/* PÁRRAFOS */
p {
    margin: 0 25%;
}




/* OTRAS CLASES */
.checkbox {
    width: auto;
    height: 10px;
}
.fijasCol{
    width:60px;
}

@media (max-width: 768px) {
    p {
        margin: 0 10px;
    }
    form {
        padding: 10px;
    }
    fieldset {
        width: 100%;
        margin-left: 10px; /* separa verticalmente */
    }
    .fijasCol{
    width:10px;
}
    
}


.auto-expand {
    width: 100%;
    min-height: 40px;
    resize: none;
    overflow: hidden;
}
